@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/font/fonts";
@import "./components/nav-sheet";
@import "./sections/services";
@import "./sections/hero";

body {
	transition: all 0.4s ease-in;
	overflow-x: hidden;
	@apply text-neutral-600;
	scroll-snap-type: y mandatory;
}

section {
	scroll-snap-align: start;
}

.br {
	border: 1px solid red;
}

.bg {
	border: 1px solid green;
}

.full {
	@apply w-full h-full;
}

.centered {
	@apply flex justify-center items-center;
}

// .hero-image img {
// 	/* backdrop-filter: ; */
// 	filter: grayscale(1);
// }

.cursor {
	background-color: transparent;
	mix-blend-mode: darken;
	transform-origin: 0;
	z-index: 99;
}

.image_box {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.4s ease-in;
	transform: scale(1);

	// background-attachment: ;
	filter: grayscale(1);
	&:hover {
		filter: grayscale(0);
		transform: scale(1.04);
		transition: all 0.4s ease-in;
	}
}

.nav-logo {
	//   filter: grayscale(1)
}

.hero_main-text {
	position: relative;
	&::after {
		content: "";
		height: 4px;
		background-color: #a3a3a3;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 50px;
		transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	&-two {
		&::after {
			background-color: #fff;
			left: -80px;
		}
	}
}

.nav-item {
	position: relative;
	&::after {
		content: "";
		height: 2px;
		border-radius: 8px;
		background-color: #000000f0;
		// background-color: #d75271;
		position: absolute;
		bottom: 0;
		transform-origin: 0;
		left: -10%;
		width: 10%;
		transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	&:hover {
		&::after {
			width: 100%;
		}
	}
}

.hero_sub-image {
	background-image: url(/crowd.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	filter: grayscale(1);
	&:hover {
		filter: grayscale(0);
	}
}

.headerButtonContainer {
	transform: scale(0);
	position: fixed;
	right: 0px;
	z-index: 4;

	.button {
		position: relative;
		margin: 20px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #1c1d20;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.burger {
		width: 100%;
		position: relative;
		z-index: 1;
		&::after,
		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 40%;
			margin: auto;
			background-color: white;
			position: relative;
			transition: transform 0.3s;
		}

		&::after {
			top: -5px;
		}

		&::before {
			top: 5px;
		}
	}

	.burgerActive {
		&::after {
			transform: rotate(45deg);
			top: -1px;
		}

		&::before {
			transform: rotate(-45deg);
			top: 0px;
		}
	}
}

.roundedButton {
	border-radius: 3em;
	border: 1px solid rgb(136, 136, 136);
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 60px 15px 60px;

	p {
		position: relative;
		z-index: 1;
		transition: color 0.4s linear;
	}

	&:hover {
		p {
			color: white;
		}
	}
}

.circle {
	width: 100%;
	height: 150%;
	position: absolute;
	border-radius: 50%;
	top: 100%;
}

.link {
	position: relative;
	display: flex;
	align-items: center;

	.indicator {
		width: 10px;
		height: 10px;
		background-color: white;
		border-radius: 50%;
		position: absolute;
		left: -30px;
	}
}

.about {
	.about-banner {
		background-image: url(/crowd.jpg);
		background-size: cover;
		background-position: center;
		filter: grayscale(1);
	}
}

.div_bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// background-attachment: ;
	// filter: grayscale(1);
	&-one {
		background: url("/crowd.jpg");
	}
}
